body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin-top: 80px;
  }
  
  h1 {
    color: #343a40;
  }
  
  .navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .text-center img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  footer {
    background-color: #343a40;
    color: white;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
  